<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/header_content" %>
    <div>
      <a style="display:block;max-width:100px;position:fixed;left:20px;top:0;width:10%;z-index:10000" target="_blank">
        <%= image_tag "chef_logo.png", id:"chef_logo" %>
      </a>
      <%= render "application/navigation" %>
    </div>
    <%#= render "flash" %>
  </head>
  <%= content_tag :body, data: { action: action_name, controller: controller_name, path: request.path } do %>
    <%= yield %>
  <% end %>
  <footer>
    <%= render "application/social" %>
  </footer>
</html>
